{% extends "base.html" %}
{% block title %}Inicio - ActiveLife{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<h1 class="mt-4">Bienvenido a ActiveLife</h1>
<p>Tu espacio para llevar un control efectivo de tus hábitos saludables, progreso en tus ejercicios y conectarte con tu comunidad.</p>

<!-- Sección de recomendaciones -->
<div class="row mt-4">
    <div class="col-md-12">
        <h2>Recomendaciones de Actividades</h2>
        <p>Te sugerimos nuevas actividades para mejorar tu condición física y mantener tu motivación alta. ¡Haz ejercicio y siente el cambio!</p>
        <div class="card">
            <div class="card-body">
                <p class="card-text">El senderismo es una excelente forma de disfrutar de la naturaleza mientras haces ejercicio. ¡Mira el siguiente video y comienza tu aventura!</p>
                <div class="embed-responsive embed-responsive-16by9" style="max-width: 100%; height: 500px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W3IVN_9LLic" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 100%;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <!-- Progreso Diario -->
    <div class="col-md-6 mb-4">
        <h2>Tu progreso diario</h2>
        <div class="card">
            <img src="{{ url_for('static', filename='IMG/imagen.png') }}" alt="Progreso Diario" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Consulta tus avances en las actividades realizadas hoy y alcanza nuevas metas.</p>
                <a href="{{ url_for('main.perfil') }}" class="btn btn-success">Ver detalles</a>
            </div>
        </div>
    </div>
    <!-- Actividad Reciente -->
    <div class="col-md-6 mb-4">
        <h2>Actividad reciente</h2>
        <div class="card">
            <img src="{{ url_for('static', filename='IMG/Actividad.jpg') }}" alt="Actividad Reciente" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Revisa las últimas actividades que has realizado y tus estadísticas de rendimiento.</p>
                <a href="{{ url_for('main.tareas') }}" class="btn btn-success">Ver detalles</a>
            </div>
        </div>
    </div>
    <!-- Tienda -->
    <div class="col-md-6 mb-4">
        <h2>Tienda</h2>
        <div class="card">
            <img src="{{ url_for('static', filename='IMG/Tienda.jpg') }}" alt="Tienda" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Adquiere planes alimenticios y deportivos.</p>
                <a href="{{ url_for('main.tienda') }}" class="btn btn-success">Ver detalles</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
