{% extends 'base.html' %}
{% block title %}Conectar con Amigos - ActiveLife{% endblock %}
{% set active_page = 'amigos' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/amigos.css') }}">
{% endblock %}


{% block content %}
<h1 class="mt-4">Conectar con Amigos</h1>
<div class="col-md-6">
    <h2>Agregar Nuevo Amigo</h2>
    <div class="mb-3">
        <label for="friendName" class="form-label">Nombre del Amigo</label>
        <input type="text" class="form-control" id="friendName" placeholder="Ingresa el nombre">
    </div>
    <section class="section-blox">
        <button type="button" id="searchBtn">Agregar Amigo</button>
        <div id="message" style="display:none;">Agregando Amigo...</div>
    </section>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Amigos Conectados</h2>
        <ul class="list-group">
            <li class="list-group-item">Juan Pérez</li>
            <li class="list-group-item">María López</li>
            <li class="list-group-item">Carlos Sánchez</li>
            <li class="list-group-item">Ana García</li>
        </ul>
    </div>
    <div class="image-links">
        <h2 class="link-message">Vincular</h2>
        <a href="https://www.facebook.com/">
            <img src="{{ url_for('static', filename='IMG/Facebook.png') }}" alt="Facebook" class="clickable-img" target="_blank">
        </a>
        <a href="https://www.instagram.com/">
            <img src="{{ url_for('static', filename='IMG/Insta.png') }}" alt="Insta" class="clickable-img" target="_blank">
        </a>
    </div>
</div>
{% endblock %}
