{% extends 'base.html' %}
{% block title %}Ejercicios y Fitness - ActiveLife{% endblock %}
{% set active_page = 'ejercicio_fitness' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fitness.css') }}">
{% endblock %}


{% block content %}
<h1 class="mt-4">Ejercicios y Fitness</h1>
<div class="row">
    <div class="col-md-6">
        <div class="section-box">
            <h2>Rutinas de Ejercicio</h2>
            <img src="{{ url_for('static', filename='IMG/pesa.png') }}" alt="Rutinas de Ejercicio" class="img-fluid mb-3">
            <p>Descubre una variedad de rutinas de ejercicio para mantenerte en forma.</p>
            <a href="https://www.finisher.es/blog/rutina-casa-ejercicios-deporte/" class="btn btn-primary" target="_blank">Explorar Rutinas</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section-box">
            <h2>Recetas Saludables</h2>
            <img src="{{ url_for('static', filename='IMG/comidafit.png') }}" alt="Recetas Saludables" class="img-fluid mb-3">
            <p>Encuentra recetas deliciosas y nutritivas para complementar tu estilo de vida saludable.</p>
            <a href="https://www.abc.es/recetasderechupete/recetas-sencillas-y-ligeras-para-volver-a-la-normalidad/52729/" class="btn btn-primary" target="_blank">Ver Recetas</a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="section-box">
            <h2>Rutas para Senderismo</h2>
            <img src="{{ url_for('static', filename='IMG/rutas.png') }}" alt="Rutas para Senderismo" class="img-fluid mb-3">
            <p>Explora hermosas rutas de senderismo para disfrutar de la naturaleza.</p>
            <a href="https://www.alltrails.com/es-mx/mexico/baja-california/mexicali" class="btn btn-primary" target="_blank">Descubrir Rutas</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section-box">
            <h2>Hábitos Saludables</h2>
            <img src="{{ url_for('static', filename='IMG/resetas.png') }}" alt="Hábitos Saludables" class="img-fluid mb-3">
            <p>Aprende sobre hábitos saludables para mejorar tu bienestar general.</p>
            <a href="https://www.bupasalud.com.mx/salud/habitos-saludables" class="btn btn-primary" target="_blank">Conocer Hábitos</a>
        </div>
    </div>
</div>
{% endblock %}
